*, ::after, ::before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.4rem;
  color: rgb(42, 51, 61);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: block;
}